<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SpotifyPlaybackManager.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <SpotifyPlaybackManager.Properties.Settings>
      <setting name="PlayPauseKey" serializeAs="String">
        <value>NumPad5</value>
      </setting>
      <setting name="Ctrl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NextTrack" serializeAs="String">
        <value>NumPad6</value>
      </setting>
      <setting name="PrevTrack" serializeAs="String">
        <value>NumPad4</value>
      </setting>
      <setting name="Shuffle" serializeAs="String">
        <value>NumPad3</value>
      </setting>
      <setting name="Replay" serializeAs="String">
        <value>NumPad1</value>
      </setting>
      <setting name="VolumeUp" serializeAs="String">
        <value>NumPad8</value>
      </setting>
      <setting name="VolumeDown" serializeAs="String">
        <value>NumPad2</value>
      </setting>
      <setting name="Mute" serializeAs="String">
        <value>NumPad0</value>
      </setting>
      <setting name="Alt" serializeAs="String">
        <value>False</value>
      </setting>
    </SpotifyPlaybackManager.Properties.Settings>
  </userSettings>
</configuration>